@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root{
   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-titulo: 'Cormorant', sans-serif
}

*{
  padding: 0px;
  margin: 0px;
}

a{
   text-decoration: none;
}

p{
   font-family: var(--fonte-padrao);
}

section p{
   line-height: 1.5em;
}

section > img{
   display: block;
   margin: auto;
   border: 1px solid black;
}

table{
   width: 800px;
   height: 400px;
   border-collapse: collapse;
}

th, td{
   border: 1px solid black;
   padding: 8px;
   text-align: center;
   vertical-align: center;
}

body{
   background-color: rgb(245, 127, 127);
}

main{
   max-width: 800px;
   background-color: white;
   margin: auto;
   position: relative;
   padding: 10px 30px;
}

header{
   padding-top: 50px;
   background-color: rgba(207, 0, 0, 0.863);
}

header > h1{
   font-family: var(--fonte-titulo);
   font-size: 7vw;
   font-variant: small-caps;
   text-align: center;
   color: rgb(255, 255, 255);
   
}

header > p{
   text-align: center;
   color: white;
   font-size: 1em;
   padding-bottom: 50px;
}

header a{
   text-decoration: underline;
   color: rgb(255, 149, 149);
   font-weight: bolder;
}

header a:hover{
   text-decoration: none;
   color: rgb(247, 175, 175);
   font-size: 1.4em;
}

section{
   padding-top: 30px;
   padding-bottom: 60px;
}

section h1{
   text-align: center;
   font-size: 3em;
   font-weight: bolder;
   font-variant: small-caps;
   color: rgba(207, 0, 0, 0.863);
   padding: 10px;
}

section h2{
   font-size: 2.2em;
   text-align: center;
   padding: 10px;
}

section p{

}

section h3, p{
   padding: 10px;
   text-align: justify;
}

footer{
   text-align: center;
   background-color: rgba(207, 0, 0, 0.863);
   color: white;
   padding: 4px;
}

footer a{
   color: white;
   font-weight: bolder;   
}

footer a:hover{
   text-decoration: underline;
}

.tabelat{
   background-image:linear-gradient(to left, rgb(221, 58, 58), rgb(206, 27, 27));
   font-size: 1.4em;
   color: white;
}

.controladores{
   background-image: url();
}

div#container{
   overflow-x: auto;
}