@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    main{
        position: relative;
        width: 80vw;
        height: 300px;
        border-radius: 20px;
        transition-duration: 0.1s;
    }
    
    input#entrar{
        width: 53.9vw;
        height: 36px;
    }

    a#esqueci {
        width: 53.7vw;
        height: 25px;
    
    }

    div#itela{
        width: 24vw;
        height: 300px;
        border-radius: 20px 0px 0px 20px; 
    }

    div#ltela{
        width: 54vw;
        height: 295px;
        position: absolute;
        left: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    div#ltela > p {
        padding: 5px;
        text-align: justify;
    }

    p.dados {
        width: 53.5vw;
        border-radius: 5px;
    }
    
    p.dados input{
        border-radius: 10px;
        width: 48.2vw;
        height: 40px;
        border: 0px;
    }
}

@media screen and (min-width: 992px) {
    main{
        position: relative;
        width: 950px;
        height: 350px;
        border-radius: 20px;
    }


    
    input#entrar{
        width: 460px;
        height: 36px;
    }

    a#esqueci {
        width: 458.8px;
        height: 25px;
    
    }

    div#itela{
        position: absolute;
        width: 475px;
        height: 350px;
        border-radius: 0px 20px 20px 0px;
        
        left: 75.5%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    div#ltela{
        width: 400px;
        height: 295px;
        position: absolute;
        left: 22.2%;
        top: 45%;
        transform: translate(-50%, -50%);
    }

    div#ltela > h1 , p{
        width: 451px;
    }

    div#ltela > h1 {
        padding-bottom: 15px;
        font-weight: bold;
        font-size: 2em;
    }

    div#ltela > p {
        font-size: 0.95em;
        line-height: 1.5em;
        padding-bottom: 15px  
    }

    p.dados {
        width: 455px;
        border-radius: 7px;
    }
    
    p.dados input{
        border-radius: 10px;
        width: 413.8px;
        height: 35px;
        border: 0px;
    }
}