@charset "UTF-8";

/* declarações gerais */
@media all{
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    }

    html, body{
        width: 100vw;
        height: 100vh;
        background: #233eff;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #1a2cad;
        padding: 10px;
    }
}
    /* declarações retrato */
    @media screen and (orientation: portrait){
        body{
            background: url('../imagens/cev-portrait.jpg');
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }


    /*declarações paisagem */
    @media screen and (orientation: landscape){
        body{
            background: url('../imagens/cev-landscape.jpg');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }